<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HW3</title>
</head>
<body>
{% block content %}
<div class="row">
    {% for book in books %}
    <p class="col-12 col-md6">Название книги: {{ book.book_name }} <br>
    Год книги: {{book.year_of_producing }}<br>
    Автор: {{book.writer.last_name }}

    {% endfor %}

    </p>
</div>
{% endblock %}
</body>
</html>