<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Calc</title>
</head>
<body>

<form action="/calculate" method="post">
    <div >
    <input  name="num1" type="text" placeholder="number 1" >

        <select name="selection">
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="/">/</option>
            <option value="*">*</option>
        </select>
    <input type="submit" value="GO">
    </div>
    <div >
    <input  name="num2" type="text" placeholder="number 2" >
    </div>


</form>

</body>
</html>